/* Add CSS Styling */

.odd {
    background-color: rgb(223, 130, 145);
    font-family: "Verdana", "DejaVu Sans", sans-serif;
}

#second {
    color: rgb(7, 7, 197);
    font-size: 36px;
}

.odd.third {
    font-size: 24px;
}

#fourth {
    background-color: rgb(56, 222, 56);
    font-size: 24px;
    font-weight: bold;
}