/* Add CSS Styling */

.first {
    background-color: black;
    color: rgb(247, 241, 241);
}

.second {
    background-color: hsl(60, 100%, 50%);
}

.font {
    font-size: 28px;
    font-family: 'Helvetica', 'Times New Roman', sans-serif;
}