/* Add CSS Styling */
.inverted,
.fancy {
    font-family: Helvetica, 'Times New Roman', sans-serif;
    font-size: 28px;
}

.inverted {
    background-color: black;
    color: rgb(247, 241, 241);
}

.fancy {
    background-color: hsl(60, 100%, 50%);
}